@import '../../../Variables.scss';

.BasketEmpty {
  max-width: 367px;
  width: 100%;
  &-Title {
    margin-bottom: 24px;
  }
  &-Icon {
    margin-bottom: 24px;
    text-align: center;
  }
  &-Text {
    margin-bottom: 36px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #121212;
  }
}