@import '../../../Variables.scss';
.Login {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  &-Title {
    margin-bottom: 26px;
  }
  &-Form {
    max-width: 368px;
    width: 100%;
  }
  &-RowContainer {
    margin-bottom: 20px;
  }
  &-Button {
    margin-top: 13px;
    margin-bottom: 18px;
  }
}
