@import '../../../Variables.scss';
.Login {
  padding-top: 50px;
  &-Inner {
    display: flex;
    justify-content: center;
  }
  &-Title {
    margin-bottom: 26px;
  }
  &-Form {
    max-width: 368px;
    width: 100%;
  }
  &-RowContainer {
    margin-bottom: 20px;
  }
  &-Button {
    margin-top: 13px;
    margin-bottom: 18px;
  }
}


@media(max-width: 767px) {
  .Login {
    padding-top: 72px;
    &-Button {
      margin-bottom: 24px;
      margin-bottom: 9px;
    }
    &-Title {
      margin-bottom: 18px;
      font-size: 14px;
      line-height: 21px;
    }
    &-RowContainer {
      margin-bottom: 15px;
    }
  }
}