@import '../../../Variables.scss';

.LinkSend {
  padding-top: 52px;
  &-Inner {
    display: flex;
    justify-content: center;
  }
  &-Box {
    max-width: 367px;
    width: 100%;
  }
  &-Title {
    margin-bottom: 24px;
  }
  &-Icon {
    margin-bottom: 24px;
    text-align: center;
  }
  &-Text {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: $black;
  }
  &-Email {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $black;
  }
}

@media(max-width: 767px) {
  .LinkSend {
    padding-top: 24px;
    &-Title {
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 22px;
    }
    &-Icon {
      margin-bottom: 24px;
      img {
        width: 68px;
        height: 54px;
      }
    }
    &-Text {
      font-size: 10px;
      line-height: 16px;
    }
    &-Email {
      margin-top: 6px;
      margin-bottom: 14px;
      font-size: 12px;
      line-height: 22px;
    }
  }
}