.Basket {
  padding: 24px 0;
  &-Inner {
    display: flex;
    justify-content: center;
  }
  &-Title {
    margin-bottom: 52px;
  }
  &-OrderSuccess {
    padding-top: 52px;
    margin: 0 auto;
  }
}

@media(max-width: 767px) {
  .Basket {
    padding-top: 64px;
    &-Title {
      margin-bottom: 12px;
    }
    .BasketEmpty-Title {
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 22px;
    }
    .BasketEmpty-Icon {
      img {
        width: 34px;
        height: 54px;
      }
    }
    .BasketEmpty-Text {
      margin-bottom: 16px;
      font-size: 12px;
      line-height: 22px;
    }
  }
  .OrderSuccess-Title {
    margin-bottom: 12px;
  }
  .OrderSuccess-Icon {
    img {
      width: 58px;
      height: 66px;
    }
  }
  .OrderSuccess-Text {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 22px;
    p + p {
      margin-top: 4px;
    }
    span {
      font-size: 12px;
      line-height: 22px;
    }
  }
}