.Basket {
  padding-top: 24px;
  &-Inner {
    display: flex;
    justify-content: center;
  }
  &-Title {
    margin-bottom: 52px;
  }
  &-OrderSuccess {
    padding-top: 52px;
    margin: 0 auto;
  }
}