@import '../../../node_modules/normalize.css/normalize';
@import '../../Variables.scss';

html,
body {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.Container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}

.ContainerForm {
  max-width: 367px;
  width: 100%;
  margin: 0 auto;
}

.Link {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: $black;
  &.Link_underline {
    text-decoration-line: underline;
  }
}

