@import '../../../Variables.scss';

.Product {
  position: relative;
  max-width: 272px;
  background: $lightWhite;
  &-Button {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1;
    transition: 0.5s;
    &:hover {
      transform: rotate(360deg);
    }
  }
  &-Image {
    position: relative;
    width: 272px;
    height: 284px;
    overflow: hidden;
    background: $lightWhite;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate3d(-50%, -50%, 0);
      transition: 0.5s;
    }
  }
  &-Box {
    display: flex;
    flex-direction: column;
    background: $lightWhite;
    padding: 16px;
  }
  &-Name {
    font-size: 14px;
    line-height: 21px;
    color: $black;
    font-weight: 400;
  }
  &-Price {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $black;
  }
} 