@import '../../../Variables.scss';
.HeadPanel {
  display: flex;
  &-Item {
    position: relative;
    &:hover {
      .HeadPanel-PreviewBasket {
        opacity: 1;
        visibility: visible;
      }
    }
    & + .HeadPanel-Item {
      margin-left: 16px;
    }
  }
  &-Link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 64px;
    padding: 0 30px;
    @include hoverHeaderItem;
    &.HeadPanel-Link_Active {
      &::before {
        opacity: 1;
      }
    }
  }
  &-PreviewBasket {
    position: absolute;
    top: 84px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      top: -20px;
      left: 0;
    }
  }
}