@import '../../../Variables.scss';
.OrderSummary {
  position: sticky;
  top: 20px;
  max-width: 272px;
  width: 100%;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: $black;
  border: 1px solid $grey;
  &-Title {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: $grey;
  }
  &-List {
    max-height: 150px;
    margin-bottom: 18px;
    overflow-y: auto;
  }
  &-Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & + .OrderSummary-Item {
      margin-top: 10px;
    }
  }
  &-Express {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }
  &-Box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-top: 1px solid $grey;
  }
  &-Total {
    font-weight: 500;
  }
}