@import '../../../Variables.scss';
.Category {
  &-Inner {
    display: grid;
    grid-template-columns: 3.5fr 3.5fr 5fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px 8px;
    width: auto;
    grid-template-areas:
      "CategoryItem1 CategoryItem1 CategoryItem2"
      "CategoryItem3 CategoryItem4 CategoryItem2";
  }
  &-Item {
    position: relative;
    a {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &-Title {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $black;
    &.Category-Title_White {
      color: #FAFAFA;
    }
  }
  &-Item1 {
    grid-area: CategoryItem1;
  }
  &-Item2 {
    grid-area: CategoryItem2;
  }
  &-Item3 {
    grid-area: CategoryItem3;
  }
  &-Item4 {
    grid-area: CategoryItem4;
  }
}
