@import '../../../Variables.scss';

.CreateAccount {
  padding-top: 52px;
  &-Title {
    margin-bottom: 13px;
  }
  &-Text {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: $grey;
    margin-bottom: 12px;
  }
  &-Button {
    margin-bottom: 12px;
  }
  &-RowContainer {
    margin-bottom: 20px;
  }
}

@media(max-width: 767px) {
  .CreateAccount {
    padding-top: 24px;
    &-Title {
      margin-bottom: 18px;
      font-size: 14px;
      line-height: 21px;
    }
    &-Text {
      margin-bottom: 8px;
      font-size: 10px;
      line-height: 16px;
    }
    &-Button {
      margin-bottom: 9px;
    }
    &-RowContainer {
      margin-bottom: 15px;
    }
  }

}