.ProductCategory {
  position: relative;
  padding-top: 32px;
  &-ButtonWhite {
    margin: 0 auto;
    font-weight: 500;
  }
  &-Box {
    position: fixed;
    bottom: 50px;
    z-index: 1;
    left: 0;
    right: 0;
  }
  &-Arrow {
    z-index: 10;
    right: -76px;
  }
}

@media(max-width: 767px) {
  .ProductCategory {
    padding-top: 60px;
  }
  .ProductCategory-Select {
    .Select-HeadSelect {
      font-size: 12px;
      line-height: 22px;
    }
    .Select-HeadInput {
      margin-left: 8px;
      font-size: 12px;
      line-height: 22px;
      padding: 0;
    }
    .Select-Input {
      padding: 5px 8px 5px;
    }
  }
}
